body{
    color: #FFFFFF;
    font: normal 15pt Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

section {
    color: #1C1C1C;
    background-color: aliceblue;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
}

div {
    text-align: center;
    padding: 5px;
}

#imagem{
    width: 250px;
    height: 250px;
}

footer{
    padding: 20px;
    text-align: center;
    
}

.link{
    color: #FFFFFF;
    text-decoration: solid;
}

.link:visited{
    color: #FFFFFF;
}